# -----------------------------
# ARCA Specific
# -----------------------------
arca_outputs/

# -----------------------------
# Compiled Python / C++
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
*.o
build/

# -----------------------------
# Packaging / Distribution
# -----------------------------
dist/
*.egg-info/
*.egg

# -----------------------------
# Environments
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# OS / IDE
# -----------------------------
.DS_Store
.vscode/
.idea/
